body {
    background-color: rgb(17, 19, 22);
    font-family: 'Overpass', sans-serif;
}

main {
    padding: 50% 5%;
}

.principal {
    height: 300px;
    background-color: rgb(37, 45, 54);
    padding: 20px;
    border: 1px solid rgb(37, 45, 54);
    border-radius: 10px;
}

.estrela {
    padding-bottom: 20px;
}

.botao-estrela {
    border: none;
    border-radius: 50%;
    background-color: rgb(54, 62, 73);
    height: 40px;
    width: 40px;
}

.titulo {
    color: rgb(255, 255, 255);
    font-size: 24px;
    font-family: 'Overpass', sans-serif;
    font-weight: 700;
    padding-bottom: 20px;
}

.paragrafo {
    color: rgb(149, 158, 171);
    font-size: 15px;
    font-weight: 400;
    padding-bottom: 20px;
    line-height: 1.5em;
}

.botao-numeros {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 20px;
}

.numeros {
    background-color: rgb(54, 62, 73);
    color: rgb(149, 158, 171);
    border: none;
    border-radius: 50%;
    height: 40px;
    width: 40px;
}

.numeros:hover {
    background-color: rgb(149, 158, 171);
    color:rgb(255, 255, 255);
}

.numeros:active {
    background-color: rgb(251, 115, 18);
    color: rgb(255, 255, 255);
}

.enviar {
    background-color: rgb(251, 115, 18);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 20px;
    height: 40px;
    width: 100%;
    text-transform: uppercase;
    font-weight: 700; 
    font-size: 15px;
    transition: 1s;
}

.enviar:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(251, 115, 18);
}

.secundaria {
    display: none;
    /*display: flex;*/
    flex-direction: column;
    align-items: center;
    height: 300px;
    background-color: rgb(37, 45, 54);
    padding: 20px;
    border: 1px solid rgb(37, 45, 54);
    border-radius: 10px;
}

.imagem-secundaria {
    width: 45%;
    padding-bottom: 20px;
}

.selecionou {
    border: none;
    border-radius: 15px;
    background-color: rgb(54, 62, 73);
    padding: 8px;
    font-size: 14px;
    margin-bottom: 20px;
    color: rgb(251, 115, 18);
}

.paragrafo-secundario {
    text-align: center;
}

.rodape {
    font-size: 12px;
    text-align: center;
    color: rgb(255, 255, 255); 
    font-family: 'Overpass', sans-serif;
    padding-bottom: 20px;
}

a {
    color: rgb(0, 0, 255);
}

@media screen and (min-width: 1250px) {

    main {
        padding: 15% 5%;
        display: flex;
        justify-content: center;
    }

    .principal {
        width: 30%;
        height: 325px;
        border-radius: 25px;
        padding: 30px;
    }

    .estrela {
        padding-bottom: 35px;
    }

    .titulo {
        font-size: 30px;
    }

    .paragrafo {
        font-size: 15px;
    }

    .botao-numeros {
        padding-bottom: 25px;
    }

    .numeros {
        height: 50px;
        width: 50px;
    }

    .secundaria {
        display: none;
        width: 30%;
        height: 325px;
        border-radius: 25px;
        padding: 30px;
    }

    .imagem-secundaria {
        padding-bottom: 30px;
    }

    .selecionou {
        margin-bottom: 40px;
    }

    .paragrafo-secundario {
        padding-bottom: 0;
    }
}