body {
    background-color: rgb(17, 19, 22);
    font-family: 'Overpass', sans-serif;
}

main {
    padding: 50% 5%;
}

.caixa {
    background-color: rgb(37, 45, 54);
    padding: 20px;
    border: 1px solid rgb(37, 45, 54);
    border-radius: 10px;
}

.estrela {
    padding-bottom: 20px;
}

.botao-estrela {
    border: none;
    border-radius: 50%;
    background-color: rgb(54, 62, 73);
    height: 40px;
    width: 40px;
}

.titulo {
    color: rgb(255, 255, 255);
    font-size: 24px;
    font-family: 'Overpass', sans-serif;
    font-weight: 700;
    padding-bottom: 20px;
}

.paragrafo {
    color: rgb(149, 158, 171);
    font-size: 15px;
    font-weight: 400;
    padding-bottom: 20px;
    line-height: 1.5em;
}

.botao-numeros {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 20px;
}

.numeros {
    background-color: rgb(54, 62, 73);
    color: hsl(217, 12%, 63%);
    border: none;
    border-radius: 50%;
    height: 40px;
    width: 40px;
}

.enviar {
    background-color: rgb(251, 115, 18);
    color: hsl(0, 0%, 100%);
    border: none;
    border-radius: 20px;
    height: 40px;
    width: 100%;
    text-transform: uppercase;
    font-weight: 700; 
    font-size: 15px;
}

.rodape {
    font-size: 12px;
    text-align: center;
    color: rgb(255, 255, 255); 
    font-family: 'Overpass', sans-serif;
    padding-bottom: 20px;
}

a {
    color: rgb(0, 0, 255);
}